<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <li class="navbar-brand"><%= link_to "Wikinimous", articles_path %></li>
      <li class="nav-item"><%= link_to "New article", new_article_path %></li>
    </nav>
    <%= yield %>
  </body>
</html>
